<h1> All ADs</h1>
<% @advertisments.each do |ad| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "#{ad.title}: #{ad.price}", ad %>
      </h4>
    </div>
  </div>
<% end %>
